<h1 class="c-heading">キラキラネームクイズ <br>1級試験</h1>
<div class = "gray-line__test">
  <p class="margin">以下の名前の読み方をひらがなで答えよ。</p>

  <%= form_with(model: @user_answer, url: answer_one_path, local: true) do |form| %>
  <p>1. <%= @questions.all[0].question %></p>
    <%= form.text_field :answer1 %>
  <p>2. <%= @questions.all[1].question %></p>
    <%= form.text_field :answer2 %>
  <p>3. <%= @questions.all[2].question %></p>
    <%= form.text_field :answer3 %>
  <p>4. <%= @questions.all[3].question %></p>
    <%= form.text_field :answer4 %>
  <p>5. <%= @questions.all[4].question %></p>
    <%= form.text_field :answer5 %>
  <p>6. <%= @questions.all[5].question %></p>
    <%= form.text_field :answer6 %>
  <p>7. <%= @questions.all[6].question %></p>
    <%= form.text_field :answer7 %>
    <br><br>
    <%= form.hidden_field :test_num, value: 1 %>
    <%= form.hidden_field :grade, value: 0 %>
    <%= form.submit "提出する", class: "button" %>
  <% end %>
</div>