<h1 class="c-heading">キラキラネームクイズ <br>1級試験</h1>
<div class = "gray-line">
  <p>以下の名前の読み方をひらがなで答えよ。</p>

  <%= form_with(url: answer_one_path, local: true) do |form| %>
  <p>1. 虹</p>
    <%= form.text_field :answer1 %>
  <p>2. 奈々安寿恵里</p>
    <%= form.text_field :answer2 %>
  <p>3. 恵逞</p>
    <%= form.text_field :answer3 %>
  <p>4. 大宙</p>
    <%= form.text_field :answer4 %>
  <p>5. 苺姫</p>
    <%= form.text_field :answer5 %>
  <p>6. 希星</p>
    <%= form.text_field :answer6 %>
  <p>7. 族</p>
    <%= form.text_field :answer7 %>
    <br><br>
    <%= form.submit "提出する", class: "button" %>
  <% end %>
</div>