<h1 class="c-heading">キラキラネームクイズ <br>準1級試験</h1>
<div class = "gray-line">
  <p>以下の名前の読み方をひらがなで答えよ。</p>

  <%= form_with(url: answer_preone_path, local: true) do |form| %>
  <p>1. 紗亜凛</p>
    <%= form.text_field :answer1 %>
  <p>2. 姫奈</p>
    <%= form.text_field :answer2 %>
  <p>3. 礼</p>
    <%= form.text_field :answer3 %>
  <p>4. 世導</p>
    <%= form.text_field :answer4 %>
  <p>5. 朗礼</p>
    <%= form.text_field :answer5 %>
  <p>6. 夢希</p>
    <%= form.text_field :answer6 %>
  <p>7. 夢大</p>
    <%= form.text_field :answer7 %>
    <br><br>
    <%= form.submit "提出する", class: "button" %>
  <% end %>
</div>