<h1 class="c-heading">キラキラネームクイズ <br>2級試験</h1>
<div class = "gray-line">
  <p>以下の名前の読み方をひらがなで答えよ。</p>

  <%= form_with(url: answer_two_path, local: true) do |form| %>
  <p>1. 本気</p>
    <%= form.text_field :answer1 %>
  <p>2. 皇帝</p>
    <%= form.text_field :answer2 %>
  <p>3. 天響</p>
    <%= form.text_field :answer3 %>
  <p>4. 黄熊</p>
    <%= form.text_field :answer4 %>
  <p>5. 泡姫</p>
    <%= form.text_field :answer5 %>
  <p>6. 男</p>
    <%= form.text_field :answer6 %>
  <p>7. 匠音</p>
    <%= form.text_field :answer7 %>
    <br><br>
    <%= form.submit "提出する", class: "button" %>
  <% end %>
</div>